@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    
    --main-color: #6ECBF5;
    --black: #13131a;
    --bg: #2c3468;
    --border: .1rem solid rgba(255, 255, 255, .3);
    line-height: 29px;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}
.skip-link{
    z-index: 1000;
    font-size: 2rem;
    position: relative;
    top: 20px;
    left: 400px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .container {
    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border);
    top: 10px;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .container h1 {
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-size: 4rem;
    animation: mymove 3s linear infinite;
    position: fixed;
    top: -10px;
    left: 20px;
    z-index: 1000;
}

header .container h2 {
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--main-color);
    padding-bottom: 2rem;
    text-align: center;
    position: relative;
    top: 70px;
    left: -350px;
}

header .container p {
    font-size: medium;
    color: var(--main-color);
    padding-bottom: 2rem;
    text-align: center;
    position: relative;
    top: 55px;
    left: -250px;
}

header .container .link-github {
    text-decoration: none;
    color: var(--main-color);
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    transition: all.3s ease;
    position: relative;
    top: -10px;
    left: 300px;
}

header .container a:hover {
    background: var(--main-color);
    color: var(--black);
    border: 1px solid var(--main-color);
    transition: all.3s ease;
}

header .container a svg {
    margin-right: 1rem;
    font-size: 1.5rem;
    color: var(--main-color);
    transition: all.3s ease;
}
/* animation style */
@keyframes mymove {
    0% {
        color: var(--main-color);
        text-shadow: none;
    }

    50% {
        color: #4908b2;
        text-shadow: 0 0 7px #0a090d;
    }

    100% {
        color: var(--main-color);
        text-shadow: none;
    }
}

nav {
    background-color: #000000;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 70px;
}

nav li {
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    transition: all.3s ease;
}

nav li:hover {
    
    color: var(--black);
    border: 1px solid var(--main-color);
    transition: all.3s ease;
}

#about {
    display: grid;
    gap: 5px;
    margin: 14px;
    grid-template-areas: "one two";
}

#about section:first-of-type {
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #0b175f;
    color: #fff;
    grid-area: one;
}

#about section:first-of-type h2 {
    font-size: 3rem;
    padding-bottom: 10px;
}

blockquote {
    background-color: #000000;
    padding: 0.5rem 1rem;
    border-left: 5px solid #000000;
    margin: 1em 0;
}

#about section:last-of-type {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #0b175f;
    grid-area: two;
}

#about section:last-of-type ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #000000;
    margin: 1rem 0 2rem;
    padding: 0;
    list-style: none;
}

#about section:last-of-type ul li {
    margin: 0.25em;
    padding: 0.25em 0.5em;
    transition: color, background-color 0.2s;
    background-color: var(--main-color);
    border: 1px solid;
    border-radius: 10px;
    box-sizing: content-box;
}

#about section:last-of-type ul li:hover {
    font-size: 2.1rem;
}

#guidelines {
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #0e163f;
    color: #fff;
    padding-bottom: 1rem;
    
}
#guidelines h2{
    text-align: center;
}

#guidelines h3{
        font-size: 3rem;
        font-style: italic;
        text-align: center;
        color: rgb(82, 0, 225);
        text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
        padding-top: 10px;
        
        transition: text-shadow 0.3s ease;
      }
      
#guidelines h3:hover {
        text-shadow: 0 0 20px rgba(255, 0, 0, 1);
}

    

#contribute {
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #0b175f;
    color: #fff;
}

aside#styles .container {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 20px;
}
aside#styles .container a:last-child{
  color: #a9a9a9;
  
  padding: 0.2em 0.55em;
  border: 2px solid black;
  background-color: #0d0840;
  border: 1px solid;
  border-radius: 10px;
  box-sizing: content-box;
}
#styles ul.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    align-items: center;
}

#styles ul.features li {
    display: block;
    padding: 1em 1.5em;
    border: 2px solid #242629;
    background-color: black;
    border-radius: 0.3em;
    margin-right: 1em;
    margin-bottom: 1em;
}
#styles ul.features li a{
  font-weight: 700;
  text-decoration: none;
  border-bottom: 3px solid #3900e2;
  border-bottom-color: rgb(55, 161, 183);
 
  transition: 200ms ease-in-out all;
  position: relative;
  
}

#styles ul.features li a:hover {
    color: #fffffe;
}

#styles ul.features li a:hover span {
    display: none;
}

#styles ul.features span {
    display: block;
    padding-top: 5px;
    color: #94a1b2;
}

.profile {
    width: 300px;
    max-width: 80%;
    margin: 1rem auto 10vh;
    padding: 1.25rem;
    z-index: 1000;
    position: fixed;
    top: 450px;
    left: 1250px;
    
}

.profile h4 {
    margin: 0;
    color: rgb(8, 152, 154);
    border-bottom: 4px solid black;
    text-align: center;
}

.profile .container {
    border: 1px solid black;
    display: grid;
    justify-items: center;
    font-size: 2rem;
    grid-gap: 1rem;
    background-color: #0b175f;
}

.profile .container > a {
    color: #a9a9a9;
    margin: 0.25em;
    padding: 0.25em 0.5em;
    border: 2px solid black;
    background-color: #0d0840;
    border: 1px solid;
    border-radius: 10px;
    box-sizing: content-box;
}

.profile ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.profile ul li {
    color: #a9a9a9;
    display: flex;
    margin: 0.25em;
    padding: 0.25em 0.5em;
    background-color: #0d0840;
    border: 1px solid;
    border-radius: 10px;
    box-sizing: content-box;
}

#files {
    background-color: #000000;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
    text-align: center;

}

#files h3 {
    font-size: 3rem;
    padding-bottom: 10px;
}

#files a {
    color: #333;
    margin: 0.25em;
    padding: 0.25em 0.5em;
    background-color: var(--main-color);
    border: 1px solid;
    border-radius: 10px;
    box-sizing: content-box;
}


.page-footer {
  font-size: 1.7rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #242629;
}

.page-footer .container {
  width: 80%;
}

.page-footer p {
    margin-bottom: 1rem;
}

.page-footer ul {
  padding-left: 0;
 
  display: flex;
  
  align-items: center;

  justify-content: left;
  list-style: none;

  flex-wrap: wrap;
}

.page-footer ul li {
  margin-bottom: 1em;
  margin-right: 1em;
}
a:visited {
  color: var(--main-color);
  border-color: var(--main-color);
}
a {
  color: var(--main-color);
  font-weight: 700;
  text-decoration: none;
  border-bottom: 3px solid var(--main-color);
    border-bottom-color:var(--main-color);
  padding-bottom: 0.1em;
  transition: 200ms ease-in-out all;
  position: relative;
  z-index: 100;
}
a:hover{

background: var(--main-color);
  color: var(--black);
  border: 1px solid var(--main-color);
}   
.page-footer ul li a {
  
  display: block;
  color: #fffffe;
  padding: 0.5em 2em;
  background-color: var(--main-color);
  border-radius: 0.3em;
  border: 3px solid var(--main-color);

  transition: 200ms ease-in-out all;
}

.page-footer a:hover {
    color: var(--bg);
}

a.link-github svg {
  width: 1em;
  fill: #fffffe;
  margin-right: 0.5em;
  
  
}
/* mobile styles */
@media(width<=1248px){
    .profile{
        width: 800px;
        max-width: 80%;
        margin: 0.5rem auto 5vh;
        padding: 1.25rem;   
        position:static;
        top: 0;
        left: 0;
    }
    #about {
        display: grid;
        gap: 5px;
        margin: 14px;
        grid-template-areas:
        "one"
        "two";
    }
      
}
@media(width<=1278px){

    header .container,header .container h2,header .container p,header .container .link-github{
        position: static;
    }
    header .container{
        padding-top: 20px; 
        padding-bottom: 10px;
    }
    header .container h1 {
        position: static;
        background-color: #000000;
    }
    nav {
        
        position: static;
        padding: 0rem;
        
        

    }
    nav ul{
        position: static;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        right: 0;
        
        
        
    }
    .skip-link{
    
        position: static;
        
    }
    nav li{
        border: 0.5rem solid var(--main-color);
        border-radius: 1px;
        
    }
}